<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant Apps</title>
  </head>
  <body>
    <a href="#content" class="skip-link">Skip to Content</a>
    <header class="header">
      <div class="header-inner">
        <h1>Rumah Makan Pondok Bacang</h1>
      </div>
      <button id="menu" class="header_hamburger" aria-label="Menu">☰</button>
    </header>

    <nav id="navbar" class="navbar">
      <ul class="nav_list">
        <li class="nav_item"><a href="/">Home</a></li>
        <li class="nav_item"><a href="#">Favorite</a></li>
        <li class="nav_item"><a href="https://github.com/Tyrant2407">About Us</a></li>
      </ul>
    </nav>

    <div class="hero_header">
      <img src="./images/heros/hero-image_2.jpg" alt="hero header image">
      <div class="hero_inner">
        <h1 class="hero_title">Mencari tempat makan enak dan murah?</h1>
        <p class="hero_tagline">
          Harga kaki lima, Rasa bintang lima!
        </p>
      </div>
    </div>

    <main id="content">
      <h1 class="content-title" style="text-align: center;margin-bottom: 2.5em;margin-top: 2.5em;font-weight: bold;font-size: 30px">Daftar Restoran</h1>
      <restaurant-list tabindex="0"></restaurant-list>
    </main>
    
    <footer-bar></ffooter-bar>
  </body>
</html>
